p{
    text-aling:center;
   color: blueviolet; 
background-color: indigo;}
    
    h1{
    text-aling:center;
   color: mediumslateblue; 
 background-color: hotpink;}
 body
 
    {
      background-color: indigo;
    }